{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <!--<small>Optional description</small>-->
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Main row -->
  <div id="main-row" class="row"></div>
</section>
<!-- /.content -->
{% endblock %}

{% block js %}
<script>
  $("[name='my-checkbox']").bootstrapSwitch();
</script>
<script src="{{ url_for('static', filename='cards.js') }}"></script>
<script>
  $.ajax({
    url: "https://localhost:5001/nodes",
    dataType: "json",

    success: function(data){
      build_dashboard(data);
      load_bootstrapSwitch();
    },

    error: function(error, e){
      alert("Data couldn't be retrieved");
    }
  });

</script>
{% endblock %}
